*{
    margin: 0;
    padding: 0;
    
}


/* Section vidéo */
.blocVideo{
    position: relative;
    width: 100%;
    object-fit: cover;
}
.blocVideo video{
    
    z-index: -100;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}





/* Section image du mur a bière */
.wall{
    position: relative;
    display: flex;
    justify-content: center;
    height: 200vh;
    margin: 0;
    top: 0;

    
    

}

.wall img{
    
    bottom: 32vh;
    left: 0;
    height: 200vh;
    width: 100%;
    margin: 0;
    object-fit:cover;
    filter: blur(2px);
    

}


/* Citation */
.quote{
   
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: "SedanSC";
    z-index: 1;
    position: absolute;
    top: 5%;
   
}



/* Carousel */
.slide {
    float: left;
    
     
}
.slides { 
    width:calc(500px *3); 
    animation: glisse 10s infinite;
    
  
    
    
}
.slider{
    position: absolute;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    top: 200%;    
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-500px);
    
    }  
    43% {
        transform: translateX(-500px);
    }

    66% {
        transform: translateX(-1000px);
    }
    76% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}


/* Code CSS landing page  */


.divLanding{
    height: 100%;
    width: 100%;
    background: (0, 0, 0, 0.541 black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "fontMain";
    font-size: 2vw;
    z-index: 3;
    top: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(5px);
  

}

.landing {
    text-align: center;
    height: 10rem;
    width: 35rem;
    background-color: #792d0d;
    color: black;
    border-radius: 1.5rem;
    box-shadow: 0.9rem 0.3rem 1.2rem 0 grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 1em;
}

.landing h5{
    margin-top: 0.5rem;
}
.landing button{
    margin-left: 1%;
    
}


/* 
essayage de boutton landing page
*/

span.buttonLanding1{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span.buttonLanding1 a{
    margin-top: -1rem;
  font-size: 25px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: "fontMain";
  
}
span.buttonLanding1 a:before,
span.buttonLanding1 a:after {
  position: absolute;
  content: "Cheers";
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span.buttonLanding1 a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span.buttonLanding1 a:after{
    background: white;
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span.buttonLanding1 a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}













