@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0px;
  padding: 0px;

  background-color: white;

  /* position: absolute; */

  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  */
}

form {
  padding: 50px 20px 20px 50px;
  background-color: #792d0d;
}
form h1 {
  font-family: "fontMain";
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
  color: white;
}

form label {
  font-family: "fontSec";
  font-size: 1.1rem;
}

form .separation {
  width: 70%;
  margin: auto;
  height: 1px;
  background-color: white;
}
form .corps-formulaire {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

form .corps-formulaire .groupe {
  margin-right: 3rem;
  position: relative;
  margin-top: 1.2rem;
  display: flex;
  color: white;
  font-family: vanila;
  flex-direction: column;
}
form .corps-formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #c9c9c9;
  outline-color: white;
  border-radius: 5px;
}
form .corps-formulaire .gauche .groupe i {
  position: absolute;
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: white;
}
form .corps-formulaire .droite {
  margin-left: 40px;
}
form .corps-formulaire .droite .groupe {
  height: 100%;
}
form .corps-formulaire .droite .groupe textarea {
  margin-top: 0.3rem;
  padding: 4rem;
  background-color: #dfdbd0;
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 5rem;
}
form .pied-formulaire button {
  margin-top: 10px;
  background-color: white;
  color: black;
  font-size: 15px;
  text-align: center;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}

form .pied-formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

form .pied-formulaire button:hover {
  transform: scale(1.05);
}

form hr {
  width: 70%;
  margin: auto;
}

.map {
  align-items: flex-end;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 920px) {
  form .corps-formulaire .droite {
    margin-left: 0px;
  }
}

/* Parti CSS header */

* {
  margin: 0;
  padding: 0;
}

header li {
  list-style: none;
}
/* Titre principal */
header h1 {
  display: flex;
  background-color: #792d0d;
  color: white;
  justify-content: center;
  font-family: "fontMain";
  margin-top: 0%;
  font-size: 3.5vw;
}

header .logo {
  background-color: #792d0d;
  display: flex;
  width: 100%;
  top: 0%;
  justify-content: space-between;
}

header .title {
  position: relative;
}

header .flag {
  width: 1rem;
  height: 1rem;
  margin-top: 1.7%;
  margin-right: 1%;
}
header .logo1 {
  height: 3.5rem;
}

/* Les onglets */
header .nav {
  position: relative;
  display: flex;
  font-family: "Vanilla Whale";
  justify-content: space-between;
  padding: 2%;
  margin-left: 11%;
  margin-right: 3%;
  color: rgb(255, 255, 255);
  z-index: 2;
}

header .blocLien1 {
  display: flex;
  font-size: 3vw;
}
header a {
  text-decoration: none;
  color: black;
}

header .blocLien1 li:nth-child(1) {
  margin-right: 10rem;
}

header .blocLien1 li:nth-child(2) {
  margin-right: 2rem;
}

header .blocLien2 {
  display: flex;
  font-size: 3vw;
}

header .blocLien2 li:nth-child(1) {
  margin-left: 15rem;
}

header .blocLien2 li:nth-child(2) {
  margin-left: 10rem;
}

/* Parti CSS footer */

* {
  margin: 0%;
  padding: 0%;
}
@font-face {
  font-family: "fontMain";
  src: url("../assets/font/vanilla_whale/vanilla\ whale.otf");
}
@font-face {
  font-family: "fontSec";
  src: url("../assets/font/SedanSC-Regular.ttf");
}
footer img {
  height: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
footer hr {
  width: 75%;
  margin: auto;
}

footer input {
  border-radius: 1rem;
  border: none;
  width: 20vw;
}

footer button {
  border-radius: 1vw;
  background-color: rgb(22, 21, 21);
  border: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  width: 5rem;
  height: 1.2rem;
}

footer button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

footer button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

footer button:hover span {
  padding-right: 25px;
}

footer button:hover span:after {
  opacity: 1;
  right: 0;
}

footer form {
  margin: 2rem;
}

footer {
  color: white;
  background-color: #792d0d;
  height: 100%;
  width: 100%;
}

footer h2 {
  font-size: 2.5vw;
  font-weight: normal;
  padding-top: 2rem;
  justify-content: center;
  font-family: "fontMain";
}
footer p,
h3 {
  font-family: "fontSec";
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

footer ul li {
  display: flex;
  justify-content: space-around;
}

footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

footer li {
  display: flex;
  margin-right: 3rem;
  align-items: center;
  margin-left: 3rem;
  list-style: none;
}

footer .blocp {
  margin-left: 1rem;
}

footer .bloc1 {
  justify-content: center;
  text-align: center;
}
footer .bloc1 p {
  font-size: 2vw;
  font-family: "fontMain";
}

footer .bloc2 {
  margin-top: 3%;
  justify-content: space-around;
  display: flex;
}

footer .adresse {
  height: 12rem;
  width: 16rem;
}

footer .lienPart {
  font-family: "fontSec";
  height: 12rem;
  width: 16rem;
}
footer .endFoot {
  margin-top: 5rem;
  justify-content: space-between;
  display: flex;
}
